{% extends 'base.html.twig' %}

{% block title %}Mod Rząśnia-Kapelmistrz{% endblock %}

{% block body %}

  <div class="container" id="midaktcon">
    <div class="row justify-content-around">
	 <div class="col-md-12 col-lg-8 align-self-center">
	   <div id="midleftv2">
	   <main>
	   <article>
	   <div class="row justify-content-around">
	   <div class="col- align-self-center">
	   <header>
	   <h1 class="article">Kapelmistrz</h1>
	   </header>
	   </div>
	   <div class="col-">
	   <div id="obrazkapel">
	   <div id="opiskapel">
	   <h2><b>Tomasz Dulski</b></h2><br>
	   W 1991 r.rozpoczyna naukę gry na trąbce w Państwowej Szkole Muzycznej I stopnia w Lublińcu w klasie pana Bartłomieja Pięty. Po dwóch latach nauki w Lublińcu zdaje egzamin do Państwowego Liceum Muzycznego w Częstochowie, gdzie kontynuuje naukę w klasie trąbki u prof.Marka Piątka. W tym czasie stale współpracuje z orkiestrą Poczty Polskiej oraz Orkiestrą Zespołu Szkół im. Cypriana Kamila Norwida w Częstochowie. W roku 1999 kończy Liceum Muzyczne i rozpoczyna studia na Wydziale II Instrumentalnym Akademii Muzycznej im.Karola Szymanowskiego w Katowicach w Klasie trąbki u prof.Stanisława Dziewora. Wtym czasie studiów koncertuje z orkiestrą Kopalni Węgla kamiennego "Wieczorek". Wlatach 2001-2005 zatrudniony w Zespole Pieśni  Tańca "Śląsk" im. Stanisława Haydny jako trębacz 1 głos, konceruje m.in w Stanach Zjednoczonych, Kanadzie, Maroku, Japonii. W 2014 kończy Akademię Muzyczną i w marcu tego samego roku otrzymuję propozycję stworzenia Młodzieżowej Orkiestry Dętej Gminy Rząśnia, którą przyjmuję.
	   </div>
	   </div>
	   </div>
	   <div class="col-">
	   <div id="opiskapelmobile">
	   <h2><b>Tomasz Dulski</b></h2><br>
	   W 1991 r.rozpoczyna naukę gry na trąbce w Państwowej Szkole Muzycznej I stopnia w Lublińcu w klasie pana Bartłomieja Pięty. Po dwóch latach nauki w Lublińcu zdaje egzamin do Państwowego Liceum Muzycznego w Częstochowie, gdzie kontynuuje naukę w klasie trąbki u prof.Marka Piątka. W tym czasie stale współpracuje z orkiestrą Poczty Polskiej oraz Orkiestrą Zespołu Szkół im. Cypriana Kamila Norwida w Częstochowie. W roku 1999 kończy Liceum Muzyczne i rozpoczyna studia na Wydziale II Instrumentalnym Akademii Muzycznej im.Karola Szymanowskiego w Katowicach w Klasie trąbki u prof.Stanisława Dziewora. Wtym czasie studiów koncertuje z orkiestrą Kopalni Węgla kamiennego "Wieczorek". Wlatach 2001-2005 zatrudniony w Zespole Pieśni  Tańca "Śląsk" im. Stanisława Haydny jako trębacz 1 głos, konceruje m.in w Stanach Zjednoczonych, Kanadzie, Maroku, Japonii. W 2014 kończy Akademię Muzyczną i w marcu tego samego roku otrzymuję propozycję stworzenia Młodzieżowej Orkiestry Dętej Gminy Rząśnia, którą przyjmuję.
	   </div>
	   </div>
	   </div>
	   </article>
	   </main>
	   </div>
	   </div>
	   <div class="col-md-12 col-lg-4 align-self-center">
	   <div id="midright" style="margin-top:30px;">
	    
       {{ include('inc/aside.html.twig')}}
	   
	   </div>
	   </div>
	  </div>
   
     </div>
    
{% endblock %}