 <aside>
	   <nav>
	   <div id="nicmid"></div>
	   <h2>Gmina</h2>
	   <a href="http://rzasnia.pl/" target="_blank" title="Oficjalna Strona Gminy Rząśnia"><div id="logogminy"><img src="{{ asset('images/mid/stronaglowna/logogminy.png') }}" alt="Logo Gminy"/></div></a>
	   <div id="maparzasnia">
	   <h2>DOJAZD DO ORKIESTRY</h2>
	   <div id="maparzasniamapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2499.11250315271!2d19.03868971561566!3d51.21700313971528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xb1e21e0ac5bd6e50!2sGimnazjum+Jana+Kochanowskiego!5e0!3m2!1spl!2spl!4v1454760930956" width="200" height="150" style="border:0" allowfullscreen></iframe>
	   </div>
	   </div>
	   </nav>
</aside>